@import '/spinner'
@import '/content'
@import '/dogList'
@import '/select'
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap')

$shadowedColor: #d4d4d4c7

%center
  justify-content: center
  align-items: center

%shadowed
  border: 0.2em 0 solid $shadowedColor
  box-shadow: 0.1em 0.1em 0.5em 0.1em #0000003f
  border-radius: .5em
  background-color: $shadowedColor

.container
  display: flex
  flex-direction: column
  font-family: Montserrat
  @extend %center

.mast
  display: flex
  width: 100%
  height: 15%
  background: #1088eb
  @extend %center

.footer
  display: flex
  height: 5%
  padding-top: 3vw
  padding-bottom: 1vw
